<!DOCTYPE html>
<html lang="eng">
  <head>
  	<meta charset="utf-8">
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon">
    <title>Preguntas</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <div id="page-wrap">
      <header class="main" id="h1">
        <h2>Quiz: el juego de las preguntas</h2>
      </header>

      <nav class="main" id="n1" role="navigation">
        <span><a href="/">Inicio</a>&nbsp;&nbsp;</span>
        <span><a href="/quizes/question">Preguntas</a></span>
      </nav>

      <section class="main" id="s1">
        <br><%- body %>
      </section>

      <footer class="main" id="f1">
        <br><a href="http://es.wikipedia.org/wiki/Quiz">¿Qué es Quiz?</a>
      </footer>
    </div>
  </body>
</html>
