<table>
	<% var j; for (j=0; j < quizes.length; j++) { %>
		<tr><td><a href="/quizes/<%= quizes[j].id %>"><%= quizes[j].pregunta %></a></td>
		<td><%= quizes[j].tema %></a></td></tr>
	<% } %>
</table>